// Colors
$dark-green-color: rgb(24, 59, 38);
$middle-green-color: rgb(109, 193, 144);
$light-green-color: rgb(148, 225, 181);

$dark-blue-color: rgb(84, 149, 205);
$light-blue-color:  rgb(128, 218, 226);

$white-color: rgb(228, 221, 215);

$brown-color: rgb(237, 178, 146);

// URLs
$header-image: 'https://i.imgur.com/Gvi0vhQ.png';
$grass-image: 'https://cdn02.nintendo-europe.com/media/images/08_content_images/games_6/nintendo_switch_7/nswitch_animalcrossingnewhorizons/NSwitch_AnimalCrossingNewHorizons_bg_grass.jpg';
