// ===== Members Wrap =====
.da-membersWrap {
  .da-members {
    background-color: transparent;

    .da-membersGroup,
    .da-activityText {
      color: dark-color;
    }

    .member-3W1lQa {
      position: relative;
      margin-left: 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      border-radius: 0;
      color: #4d493e;

      svg .da-activityIconForeground {
        fill: dark-color;
      }

      &:hover,
      &.popout-open {
        border-color: dark-color;

        .da-content,
        .da-activityText,
        svg .da-activityIconForeground {
          color: light-color;
          fill: light-color;
          background-color: transparent;
          z-index: 2;
        }

        &::before {
          width: 100%;
        }
      }

      .da-bot {
        border-radius: 0;
        filter: sepia(75%);
      }
    }
  }
}
