// ===== Private Channels =====
.da-privateChannels {
  .search-bar {
    border-radius: 0;
    background-color: dark-color;

    input {
      color: light-color;
    }
  }

  header {
    color: dark-color;
    opacity: 1;
  }

  .da-channel {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;

    a {
      border-radius: 0;
      color: dark-color;

      * {
        z-index: 2;
      }

      .da-name,
      .da-activity {
        color: dark-color;
        opacity: 0.9;
      }
    }

    &:hover,
    &.da-selected {
      border-color: dark-color;

      &::before {
        width: 100%;
      }

      a {
        background-color: transparent;
        color: light-color;

        .da-name,
        .da-activity {
          color: light-color;
        }
      }
    }
  }
}
